.canvas-container {
	position:relative;
	overflow-x:hidden;
	margin:auto;
	width:500px;
	
}

.canvas-background-1 {
	top:0;
	left:0;
	width:222.5%;
	height:100%;
}

.canvas-background-2 {
	top:0;
	left:222.5%;
	width:222.5%;
	height:100%;
}

.canvas-url-space {
	background-image:url("./assets/space.jpg");
}

.canvas-url-desert {
	background-image:url("./assets/desert.jpg");
}

.canvas-url-alien {
	background-image:url("./assets/alien.jpg");
}

.canvas-url-ocean {
	background-image:url("./assets/ocean.jpg");
}

.canvas-background {
	z-index:0;
	position:absolute;
	background-size: auto 100%;
	animation: rotateBackground 120s linear infinite;
}

@keyframes rotateBackground {
	0% {
        transform: translateX(0);
      }
    100% {
        transform: translateX(-100%);
      }
}

.canvas {
	position:relative;
	width:100%;
	height:100%;
	z-index:1;
	display:block;
	/* cursor:none; */
}

.canvas:focus {
	outline:none;
}

@media (min-width:577px) and (max-width:768px) {
	.canvas-container {
		width:700px;
	}
}

@media (min-width:769px) {
	.canvas-container {
		width:900px;
		margin:0 0;
	}
	
}