body {
	margin:0;
}

i {
	padding:0 0.5rem;
}

p {
	margin:0;
}

input:focus {
	outline:none;
}

button:hover, button:focus {
	outline:none;
	cursor:pointer;
}

.inter-pong, button {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "slnt" 0;
  }

.main-container {
	height:100vh;
}

.main-nav button {
	border:0;
	background-color:transparent;
	font-size: 1.5rem;
}

.main-nav-header {
	padding:0.25rem 1rem;
	margin:0;
}

.display-none {
	display:none !important;
}

.display-block {
	display:block !important;
}

.small {
	font-size: 0.25rem
}

@media (min-width:577px) {
	.main-container {
		display:grid;
		grid-template-columns: 1fr auto auto auto auto 1fr;
	}
	.main-nav-header {
		padding:1rem 0.25rem;
		display:grid;
		grid-template-columns: auto;
	}
	.main-nav-header button {
		margin:0.25rem 0;
		padding:0;
	}
	.main-nav-header i {
		padding:0;
	}
 
}

@media (min-width:993px) {
	.main-container {
		margin:0 auto;
		align-items:center;
		overflow:auto;
	}
	.main-nav button {
		font-size: 2.5rem;
	}
	.main-nav-header i {
		padding:0 0.5rem;
	}
}

@media (min-width:1200px) {
	.main-container {
		width:80%;
	}