.profile-nav-portrait {
	padding:0.5rem 1rem;
	flex:0 0 auto;
}

.profile-nav-landscape {
	display:none;
}

.profile-header-portrait, .profile-header-landscape {
	margin:0;
}
.profile-header-landscape {
	display:none;
}

.profile-container {
	overflow:auto;
	max-height:120px;
}
.profile-inner-container {
	padding:0 1rem;
}

.profile-expand-portrait {
	margin-left:0.25rem;
	border:0;
	background-color:transparent;
}

@media (min-width:577px) {
	.profile-nav-portrait {
		display:none;
	}
	.profile-header-landscape {
		display:block;
	}
	.profile-container {
		max-height:100vh;
	}
	.profile-inner-container {
		padding:0.5rem 1rem;
	}
	
}

@media (min-width:993px) {
	.profile-nav-landscape {
		padding:0.5rem 1rem;
		display:block;
		height:600px;
	}
	.profile-container {
		height:600px;
		max-height:auto;
	}
	.profile-expand-landscape {
		margin-top:1rem;
		padding:0;
		border:0;
		background-color:transparent;
		height:675px;
	}
}

